#**Assignment 2 of python by Audrey DJIOSSEU TIODO**#

# Ex1:

Declare a destroy_elements function that accepts two lists.
It should return a list of all elements from the first list that are NOT contained in the second list.
 Use list comprehension in your solution.

 EXAMPLES
* destroy_elements([1, 2, 3], [1, 2])      => [3]
* destroy_elements([1, 2, 3], [1, 2, 3])   => []
* destroy_elements([1, 2, 3], [4, 5])      => [1, 2, 3]

In [ ]:
# Write your code here

In [ ]:
def destroy_elements(list1, list2):
    result = []
    for element in list1:
        if element not in list2:
            result.append(element)
    return result

In [ ]:
destroy_elements([1, 2, 3], [4, 5])

[1, 2, 3]

# Ex2 (Majority element)
Given an array nums of size n, return the majority element.

The majority element is the element that appears more than ⌊n / 2⌋ times. You may assume that the majority element always exists in the array.

Input: nums = [2,2,1,1,1,2,2] <br>
Output: 2

In [ ]:
def majorityElement(nums):
    count = 0
    candidate = None

    for num in nums:
        if count == 0:
            candidate = num
        count += (1 if num == candidate else -1)

    return candidate

In [ ]:
majorityElement([2,2,1,1,1,2,2])

2

In [ ]:
# Write your code here
def majorityElement(nums):
  pass

# Ex3:

Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

Input: nums = [1,2,3,1] <br>
Output: true

In [ ]:
def contains_Duplicate(nums):
    nums.sort()
    for i in range(len(nums) - 1):
        if nums[i] == nums[i + 1]:
            return True
    return False

In [ ]:
print(contains_Duplicate([1, 2, 3, 1]))
print(contains_Duplicate([1, 2, 3, 4]))

True
False

# Ex4:
Write a factors function that accepts a positive whole number
It should return a list of all of the number's factors in ascending order
 HINT: Could the range function be helpful here? Or maybe a while loop?
EXAMPLES

* factors(1)  => [1]
* factors(2)  => [1, 2]
* factors(10) => [1, 2, 5, 10]
* factors(64) => [1, 2, 4, 8, 16, 32, 64]

##**In this exercise, we can use the range function and also a while loop? below you'll find both approaches.**##

In [ ]:
def factors(n):
    factors = []
    i = 1
    while i * i <= n:
        if n % i == 0:
            factors.append(i)
            if i != n // i:
                factors.append(n // i)
        i += 1
    factors.sort()
    return factors

In [ ]:
factors(64)

[1, 2, 4, 8, 16, 32, 64]

In [ ]:
def factor(n):
    return [i for i in range(1, n + 1) if n % i == 0]

In [ ]:
factor(64)

[1, 2, 4, 8, 16, 32, 64]

In [ ]:
# Write your code here

#Ex5:
Write a Python function that takes a positive integer as input and returns the sum of the squares of all the positive integers up to that number.

In [ ]:
def sum_squares(n):
    sum = 0
    for i in range(1, n + 1):
        sum += i ** 2
    return sum

In [ ]:
sum_squares(3)

14

In [ ]:
# Write your code here

#Ex6:
Create a list of tuples, where each tuple represents a person with a name and age. Sort the list based on the age of the individuals.

In [ ]:
person = [("AUDREY", 32), ("JORDAN", 24), ("DYLAN", 45), ("DANIELLE", 19)]
person.sort(key=lambda x: x[1])
print(person)

[('DANIELLE', 19), ('JORDAN', 24), ('AUDREY', 32), ('DYLAN', 45)]

In [ ]:
# Write your code here

#Ex7:
Write a function that takes a list of words and a minimum length, and returns a new list containing only the words that are longer than the specified length.

In [ ]:
def filter_words_length(w, ml):
    result = []
    for i in w:
        if len(i) > ml:
            result.append(i)
    return result

In [ ]:
words = ["cameroun", "tchad", "kenya", "senegal", "ethiopia"]
filtered = filter_words_length(words, 5)
print(filtered)

['cameroun', 'senegal', 'ethiopia']

In [ ]:
# Write your code here

# Ex8:
Declare a delete_all function that accepts a list and a target
Remove all occurrences of the target  from the list and return it

EXAMPLES
* delete_all([1, 3, 5], 3)  => [1, 5]
* delete_all([5, 3, 5], 5)  => [3]
* delete_all([4, 4, 4], 4)  => []
* delete_all([4, 4, 4], 6)  => [4, 4, 4]

In [ ]:
def delete_all(list, target):
    result = []
    for x in list:
        if x != target:
            result.append(x)
    return result

In [ ]:
print(delete_all([1, 3, 5], 3))
print(delete_all([5, 3, 5], 5))
print(delete_all([4, 4, 4], 4))
print(delete_all([4, 4, 4], 6))

[1, 5]
[3]
[]
[4, 4, 4]

In [ ]:
# Write your code here

# Ex9:

Define an encrypt_message function that accepts a string.
 The input string will consist of only alphabetic characters.
 The function should return a string where all characters have been moved
 "up" two spots in the alphabet. For example, "a" will become "c".

 EXAMPLES
* encrypt_message("abc") =&gt; "cde"
* encrypt_message("xyz") =&gt; "zab"
* encrypt_message("")    =&gt; ""

* bonus:  can you write a function to decrypt the encrypted message :)

In [ ]:
def encrypt_message(m):
    encrypted = []
    for char in m:
        if 'a' <= char <= 'z':
            shifted = chr(((ord(char) - ord('a') + 2) % 26) + ord('a'))
        elif 'A' <= char <= 'Z':
            shifted = chr(((ord(char) - ord('A') + 2) % 26) + ord('A'))
        else:
            shifted = char
        encrypted.append(shifted)
    return ''.join(encrypted)

### Bonus: Decrypt function

In [ ]:
# Bonus: Decrypt function (shifts back by 2)
def decrypt_message(encrypted_message):
    decrypted = []
    for char in encrypted_message:
        if 'a' <= char <= 'z':
            shifted = chr(((ord(char) - ord('a') - 2) % 26) + ord('a'))
        elif 'A' <= char <= 'Z':
            shifted = chr(((ord(char) - ord('A') - 2) % 26) + ord('A'))
        else:
            shifted = char
        decrypted.append(shifted)
    return ''.join(decrypted)

In [ ]:
print(encrypt_message("abc"))
print(encrypt_message("xyz"))
print(encrypt_message(""))

# Bonus decryption:
print(decrypt_message("cde"))
print(decrypt_message("zab"))

cde
zab

abc
xyz

In [ ]:
# Write your code here

#Ex10:

Define a word_lengths function that accepts a string.
It should return a list with the lengths of each word.

 EXAMPLES
* word_lengths("Mary Poppins was a nanny")  => [4, 7, 3, 1, 5]
* word_lengths("Somebody stole my donut")   => [8, 5, 2, 5]

In [ ]:
def word_lengths(sentence):

    words_list = sentence.split()
    lengths_list = [len(word) for word in words_list]
    return lengths_list

In [ ]:
word_lengths("Mary Poppins was a nanny")

[4, 7, 3, 1, 5]

In [ ]:
# Write your code here

# Ex11:

Define a cleanup function that accepts a list of strings.
The function should return the strings joined together by a space.
There's one BIG problem -- some of the strings are empty or only consist of spaces!
These should NOT be included in the final string
#
* cleanup(["cat", "er", "pillar"])           => "cat er pillar"
* cleanup(["cat", " ", "er", "", "pillar"])  => "cat er pillar"
* cleanup(["", "", " "])                     => ""

In [ ]:
def cleanup(strings):
    filtered = []

    for s in strings:
        if s.strip():
            filtered.append(s)

    cleaned_string = ' '.join(filtered)

    return cleaned_string

In [ ]:
cleanup(["cat", "er", "pillar"])

'cat er pillar'

In [ ]:
# Write your code here

# Ex12:

Define a nested_sum function that accepts a list of lists of numbers
The function should return the sum of the values
 The list may contain empty lists

 EXAMPLES
* nested_sum([[1, 2, 3], [4, 5]])            =&gt; 15
* nested_sum([[1, 2, 3], [], [], [4], [5]])  =&gt; 15
* nested_sum([[]])

In [ ]:
def nested_sum(lists):
    total = 0
    for sublist in lists:
        total += sum(sublist)
    return total

In [ ]:
nested_sum([[1, 2, 3], [4, 5]])

15

In [ ]:
# Write your code here

#Ex13:
Create a dictionary representing a person (include name, age, and city). Write a program to:

* Print the person's information.
* Update the person's age.
* Add a new key-value pair for the person's occupation.
* Display the updated dictionary.

In [ ]:
# 1. Creation of the person dictionary
person = {
    'name': 'Audrey',
    'age': 32,
    'city': 'Ngaoundere'
}

In [ ]:
# 2. Printed of the person's information
print("Person information:")
print(f"Name: {person['name']}")
print(f"Age: {person['age']}")
print(f"City: {person['city']}")
print("\nDictionary:", person)

Person information:
Name: Audrey
Age: 32
City: Ngaoundere

Dictionary: {'name': 'Audrey', 'age': 32, 'city': 'Ngaoundere'}

In [ ]:
# 3. Update the person's age
person['age'] = 33

In [ ]:
# 4. Add a new key-value pair for occupation
person['occupation'] = 'AMMI Student'

In [ ]:
# 5. Display the updated dictionary
print("\nUpdated person information:")
print(f"Name: {person['name']}")
print(f"Age: {person['age']}")
print(f"City: {person['city']}")
print(f"Occupation: {person['occupation']}")
print("\nFull updated dictionary:", person)

Updated person information:
Name: Audrey
Age: 33
City: Ngaoundere
Occupation: AMMI Student

Full updated dictionary: {'name': 'Audrey', 'age': 33, 'city': 'Ngaoundere', 'occupation': 'AMMI Student'}

In [ ]:
# Write your code here

# Ex14:

Many organizations have user ids which are constrained in some way. Imagine you work at an internet service provider and the user ids are all two letters followed by two numbers (e.g. aa49). Your task at such an organization might be to hold a record on the billing activity for each possible user.

Write an initialization line as a single list comprehension which creates a list of all possible user ids. Assume the letters are all lower case.

In [ ]:
user_ids = [f"{chr(a)}{chr(b)}{c:02d}"
            for a in range(ord('a'), ord('z')+1)
            for b in range(ord('a'), ord('z')+1)
            for c in range(0, 100)]

In [ ]:
# Write your code here

# Ex15:
Ask the user to enter a password, then:

*   check if it contains uppercase letters, lowercase letters, numbers and special characters.
*   Give feedback to the user("Strong password!" or " The password should include a mix of uppercase letters, lowercase letters, numbers, and special characters." ).

In [ ]:
import re

def check_password_strength(password):
    has_upper = re.search(r'[A-Z]', password) is not None
    has_lower = re.search(r'[a-z]', password) is not None
    has_digit = re.search(r'[0-9]', password) is not None
    has_special = re.search(r'[^A-Za-z0-9]', password) is not None

    if has_upper and has_lower and has_digit and has_special:
        return "Strong password!"
    else:
        missing = []
        if not has_upper:
            missing.append("uppercase letters")
        if not has_lower:
            missing.append("lowercase letters")
        if not has_digit:
            missing.append("numbers")
        if not has_special:
            missing.append("special characters")
        return f"The password should include a mix of {', '.join(missing)}."

In [ ]:
# Ask user for password
password = input("Enter your password: ")
feedback = check_password_strength(password)
print(feedback)

Enter your password: vERO@.77aud
Strong password!

In [ ]:
# Write your code here

# Ex16:

Declare a sum_of_evens_and_odds function that accepts a tuple of numbers.
#### It should return a tuple with two numeric values:
 - the sum of the even numbers
 - the sum of the odd numbers.
* sum_of_evens_and_odds((1, 2, 3, 4))   => (6, 4)
* sum_of_evens_and_odds((1, 3, 5))      => (0, 9)
* sum_of_evens_and_odds((2, 4, 6))      => (12, 0)

In [ ]:
def sum_of_evens_and_odds(numbers):
    even_sum = 0
    odd_sum = 0
    for num in numbers:
        if num % 2 == 0:
            even_sum += num
        else:
            odd_sum += num
    return (even_sum, odd_sum)

In [ ]:
sum_of_evens_and_odds((1, 2, 3, 4))

(6, 4)

In [ ]:
# Write your code here

# Ex17:

Define a length_counts function that accepts a list of strings.
The function should return a dictionary where the keys represent
 length and the values represent how many strings have that length.

 EXAMPLE:
* sa_countries = ["Brazil", "Venezuela", "Argentina", "Ecuador", "Bolivia", "Peru"]
* length_counts(sa_countries) =&gt; # {6: 1, 9: 2, 7: 2, 4: 1}
* There is 1 string with 6 letters, 2 strings with 9 letters,
* 2 strings with 7 letters, and 1 string with 4 letters.

In [ ]:
def length_counts(strings):
    c = {}
    for s in strings:
        length = len(s)
        c[length] = c.get(length, 0) + 1
    return c

In [ ]:
length_counts(["Brazil", "Venezuela", "Argentina", "Ecuador", "Bolivia", "Peru"])

{6: 1, 9: 2, 7: 2, 4: 1}

In [ ]:
# Write your code here

# Ex18:

Given two strings s and t, determine if they are isomorphic.

Two strings s and t are isomorphic if the characters in s can be replaced to get t.

All occurrences of a character must be replaced with another character while preserving the order of characters. No two characters may map to the same character, but a character may map to itself.

Input: s = "egg", t = "add" <br>
Output: true
<br><br>
Input: s = "foo", t = "bar" <br>
Output: false

In [ ]:
def isIsomorphic(s: str, t: str) -> bool:
    if len(s) != len(t):
        return False

    s_to_t = {}
    t_to_s = {}

    for char_s, char_t in zip(s, t):
        if char_s in s_to_t:
            if s_to_t[char_s] != char_t:
                return False
        else:
            s_to_t[char_s] = char_t

        if char_t in t_to_s:
            if t_to_s[char_t] != char_s:
                return False
        else:
            t_to_s[char_t] = char_s

    return True

In [ ]:
isIsomorphic( "egg", "add" )

True

In [ ]:
# Write your code here

# Ex19:

 Dot product of vectors: <br>

Vectors are mathematical objects that are often used to represent the inputs to neural networks. One way to view the vectors is as list of items. Complete the following code to compute dot product of two vectors. Dot product is defined the following equation:-
</font>

$$
x.y = <x, y> = x^Ty = \sum_{i}^n x_iy_i
$$

<font  color="white">
Assume that only lists are passed to the function and they also contain only numeric datatype.

</font>

In [ ]:
def dot_product(a, b):
    if len(a) != len(b):
        raise ValueError("Vectors must be of the same length")

    result = 0
    for i in range(len(a)):
        ai = a[i]
        bi = b[i]
        result += ai * bi

    return result

In [ ]:
dot_product([1,2,4], [0,1,2])

10

In [ ]:
# Write your code here

# Ex20:

Write a function MatMul that multiplies two 2D matrices A and B and returns the result

Validate you code using:

```
A = [ [1,2,3],[4,5,6] ]
B = [ [4,5], [1,2], [0, 1] ]


```

In [ ]:
def MatMul(A, B):
    if len(A[0]) != len(B):
        raise ValueError("Number of columns in A must match number of rows in B")

    m = len(A)
    p = len(B[0])
    C = [[0 for _ in range(p)] for _ in range(m)]

    for i in range(m):
        for j in range(p):
            for k in range(len(B)):
                C[i][j] += A[i][k] * B[k][j]
    return C

In [ ]:

A = [ [1,2,3],[4,5,6] ]
B = [ [4,5], [1,2], [0, 1] ]
print(MatMul(A, B))
assert MatMul(A, B)==[[6, 12], [21, 36]], "Your implementation is not correct"
print("Congrats, It is working")

[[6, 12], [21, 36]]
Congrats, It is working

#Ex21:

<b> Given a list l, reverse l.
Ex= [1,2,3,4,5] ==> [5,4,3,2,1]. In this case the operation has to be done in-place. Do not allow new memory space</b>

DON't USE THE PYTHON INDEXING [::-1]

In [ ]:
def reverse_in_place(l):
    left = 0
    right = len(l) - 1
    while left < right:
        l[left], l[right] = l[right], l[left]
        left += 1
        right -= 1
    return l

In [ ]:
 reverse_in_place([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [ ]:
# Write your code here

# Ex22:

<b> Given a string s, check whether s is a palindrome. s is the palindrome if s is equal to its reverse.Using:
- slicing in python
- loop.</b>

example : s='aba' is a palindrom
s='abaa' isnot a palindrom

In [ ]:
def is_palindrome(s):
    left = 0
    right = len(s) - 1
    while left < right:
        if s[left] != s[right]:
            return False
        left += 1
        right -= 1
    return True

In [ ]:
is_palindrome('aba')

True

In [ ]:
# Write your code here

# Ex23:

Find the factorial of a given number:

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

In [ ]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result

In [ ]:
# Example usage
print(factorial(5))

120

In [ ]:
# Write your code here

# Ex24:

Display Fibonacci series up to 10 terms:

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

In [ ]:
def fibonacci_10_terms():
    a, b = 0, 1
    print(a, end=", ")
    print(b, end=", ")

    for _ in range(8):
        c = a + b
        print(c, end=", ")
        a, b = b, c

fibonacci_10_terms()

0, 1, 1, 2, 3, 5, 8, 13, 21, 34,

In [ ]:
# Write your code here

# Ex25:

- Write a program to display all prime numbers within a range.

- range
start = 19
end = 70

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

def primes_in_range(start, end):
    primes = []
    for num in range(start, end + 1):
        if is_prime(num):
            primes.append(num)
    return primes

In [ ]:
# Example usage
start = 19
end = 70
prime_numbers = primes_in_range(start, end)
print(f"Prime numbers between {start} and {end}:")
print(prime_numbers)

Prime numbers between 19 and 70:
[19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67]

In [ ]:
# Write your code here

#Ex26:
Write a program to copy the contents of one text file (input.txt) to another file (output.txt). Handle the case where file1 does not exist.

In [ ]:
def copy_file(input_filename, output_filename):
    try:
        with open(input_filename, 'r') as input_file:
            content = input_file.read()

        with open(output_filename, 'w') as output_file:
            output_file.write(content)
        print(f"Successfully copied '{input_filename}' to '{output_filename}'.")

    except FileNotFoundError:
        print(f"Error: '{input_filename}' does not exist.")
    except Exception as e:
        print(f"An error occurred: {e}")

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
! touch input.txt

In [12]:
! touch output.txt

In [13]:
! pwd

/content

In [15]:
! echo "This is just for testing \n Python is fun" >> input.txt

In [16]:
# Example usage
copy_file("input.txt", "output.txt")

Contents of 'input.txt' have been copied to 'output.txt'.